* {
    margin: 0;
}

.header {
    background-color: black;
}

.header img {
    width: 100px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.footer p {
    font-size: 13px;
    font-family: "Regular";
}