.App {
  text-align: center;
}

@font-face {
  font-family: "Thin";
  src: local('MontserratThin'), url("./fonts/Montserrat-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "Light";
  src: local('MontserratLight'), url("./fonts/Montserrat-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Regular";
  src: local('MontserratRegular'), url("./fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Medium";
  src: local('MontserratMedium'), url("./fonts/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "SemiBold";
  src: local('MontserratSemiBold'), url("./fonts/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "SemiBoldItalic";
  src: local('MontserratSemiBoldItalic'), url("./fonts/Montserrat-SemiBoldItalic.ttf") format('truetype');
}